@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?tmkmtd');
    src:  url('fonts/icomoon.eot?tmkmtd#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?tmkmtd') format('truetype'),
      url('fonts/icomoon.woff?tmkmtd') format('woff'),
      url('fonts/icomoon.svg?tmkmtd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  body{
      height: 3000px;
      width: 100%;
  }
  /* <!-- 导航栏 --> */
  .top-nav{
      position: relative;
  }

.top-height{
    width: 100%;
    background: #111111;
}
.top-height .center{
    height: 25px;
    margin: 0 auto;
}
.top-height .center ul{
    float: right;
}
.top-height .center ul li{
    float: left;
    /* width: 97px; */
    height: 25px;
    margin: 0 12px;
}
.top-height .center ul li a{
    font-size: 12px;
    line-height: 25px;
    color: #cccccc;
}
.top-height .center .top-jt::before,.top-height .center .top-xj,.top-height .center .top-xz::before,.top-height .center .top-dl::before{
    font-family: 'icomoon';
    margin-right: 5px;
    color: #ccc;
}
.top-height .center .top-jt::before{
    content: '\e91b';
}
.top-height .center .top-xj{
    float: right;
    line-height: 21px;
    margin-right: 0;
}
.top-height .center .top-xz::before{
    content: '\e948';
}
.top-height .center .top-dl::before{
    content: '\e948';
}
/* .top-height .center .top-jt:hover .top-under{
    height: 168px;
} */

/* <!-- 导航弹出 --> */
.top-under{
    position: static;
    top: 25px;
    left: 0;
    width: 100%;
    background: #f7f7f7;
    transition-delay: .1s;
}
.top-under .center{
    padding: 0 15px;
}

/* 第一快弹出的导航 */
/* .top-nav-first{
    /* height: 0; 
   
} */

.top-under .top-nav-first{
    height: 0;
    overflow: hidden;
    transition: height .4s;
}
.top-under .top-nav-first dl{
    width: 20%;
    float: left;
    padding: 40px 60px 40px 0;
    box-sizing: border-box;
    
}
.top-under .top-nav-first dl dt{
    line-height: 30px;
}
.top-under .top-nav-first dl dt a{
    position: relative;
}
.top-under .top-nav-first dl dt span{
    color: #4D4D4D;
    font-size: 15px;
    margin-bottom: 22px;

}
.top-under .top-nav-first dl:first-child span::before{
    font-family: 'icomoon';
    content: '\ea53';
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
    color: #c7000b;
}
.top-under .top-nav-first dl .icon{
    border-bottom: 2px solid transparent;
}
.top-under .top-nav-first dl dt:hover .icon{
    border-bottom: 2px solid #c7000b;
}
.top-under .top-nav-first dl dt:hover>a>i{
    color: #c7000b;
    left: 70px;
}
.top-under .top-nav-first dl .fonticon{
    position: absolute;
    top: -5px;
    left: 60px;
    font-family: 'icomoon'; 
    font-style: normal;
    font-size: 20px;
    vertical-align: middle;
    margin-bottom: 10px;
    transition: left .3s;
}
.top-under .top-nav-first dl:first-child dt span{
    color: #111111;
    font-weight: 700;
}
.top-under .top-nav-first dl dd{
    overflow: auto;
    display: block;
    padding: 10px 0;
    font-size: 14px;
    color: #808080;
}

/* 第二块弹出的导航 */
.top-nav-end{
    height: 0;
    overflow: hidden;
    transition: height .4s;

}

.top-nav-end .box{
    padding: 40px 0;
}
.top-nav-end h2{
    font-size: 24px;
    color: #333;
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}
.top-nav-end ul li{
    width: 20%;
    float: left;
    height: 49px;
    line-height: 43px;
    color: #808080;
    font-size: 0.98em;
}
.top-nav-end ul li:hover>a{
    color: #000000;
    /* font-weight: 700; */
    border-bottom: 1px solid #000000;
}
.top-nav-end ul li a{
    color: #808080;
}
.top-nav-end .active,.top-nav-end .active a{
    color: #000000;
}
.top-nav-end .active a{
    font-weight: 700;
}
.top-nav-end .active::before{
    font-family: 'icomoon'; 
    content: '\ea53';
    color: #c7000b;
    font-size: 20px;
    margin-right: 7px;
	vertical-align: middle;
}

/* 头部 */

.nav-con{
    position: relative;
}
.nav{
    width: 1174.9px;
    height: 78px;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
    line-height: 78px;
}
.nav a{
    float: left;
    display: block;

}
.nav a img{
    width: 133px;

}

/* .nav .cont,.nav .right{
    opacity: 1;
    transition: opacity .5s;
} */

.nav .cont{
    /* float: right; */
    margin-left: 275px;
}
.nav .cont>li{
    float: left;
    margin-right: 25px;
    padding: 5px 5px 0 5px;
    box-sizing: border-box;
    height: 78px;
}
.cont li>span{
    color: #333333;
    font-size: 14.4px;
    cursor: pointer;
}
/* <!-- 右侧搜索框 --> */

.nav .right{
    margin-right: 15px;
    height: 78px;
}
.nav .right>li{
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.right li span{
    /* display: block; */
    /* margin-top: 4px; */
    line-height: 90px;
    color: #333333;
    font-size: 16px;
    /* position: relative; */
}
/* .nav .right .buy-top{
    font-family: 'icomoon';
    font-style: normal;
    margin-right: 5px;
} */
.right li span::before{
    font-family: 'icomoon';
    content: '\e93a';
    margin-right: 5px;
    /* font-size: 20px; */
}
/* .nav .right .buy-bottom{
    font-family: 'icomoon';
    font-style: normal;
} */
.right li span::after{
    font-family: 'icomoon';
    content: '\ea50';
    /* margin-bottom: 10px; */
    /* line-height: 90px; */
    position: relative;
    top: -2px;
}
.nav .right li:last-child{
    margin-right: 20px;
}
.nav .right .fa-d{
    font-family: 'icomoon';
    font-style: normal;
    font-size: 20px;
    position: relative;
    top: 6px;
}
.cont>li:hover{
    border-bottom: 1px solid red;
}


/* 个人及家庭产品 */
.product{
    position: relative;
}

.personal{
    margin: 0 auto;
    z-index: 100;
    width: 1263.3px;
    position: absolute;
    left: -319px;
    top: 79px;
    height: 0;
    overflow: hidden;
    transition: height .5s;
    background-color: #fff;
}
.personal .personal-top{
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    margin: 0 auto;
    /* margin-left: 32px; */
    padding-left: 68px;
    box-sizing: border-box;
}
.personal .personal-top .icons{
    /* float: left; */
    width: 700px;
    /* margin-right: 100px; */
    margin-top: 70px;
    color: #A19D97;
}
.personal .personal-top .icons ul{
    margin-right: 50px;
    /* width: 100%; */
}
.personal .personal-top .icons ul li{
    float: left;
    width: 75px;
    margin-right: 50px;
    position: relative;
}
.personal .personal-top .icons ul li:hover span{
    text-decoration: underline;
    color: #000000;
}
.personal .personal-top .icons a{
    float: none;
    font-family: 'icomoon';
    font-style: normal;
    font-size: 60px;
    /* line-height: 15px */
    line-height: 120px;
    /* color: rgb(51, 51, 51); */
    color: #A19D97;


}
/* .personal .personal-top .icons li p{
    width: 10px; 
    display: inline-block;
    height: 10px;
    width: 10px;
} */
.personal .personal-top .icons li span{
    /* line-height: 10px; */
    position: absolute;
    top: 75px;
    left: 15px;
    color: #A19D97;
}

.personal .personal-top img{
    width: 366px;
    height: 366px;
    margin-top: -35px;
    margin-left: 11%;
    margin-bottom: 10px;
    /* margin-right: 0; */
    cursor: pointer;
}

.personal .personal-bottom{
    position: absolute;
    background: #F7F7F7;
    width: 1270px;
    height: 95px;
    left: -98px;
    margin: 0 100px;
}
.personal .personal-bottom span{
    display: inline-block;
    margin: 0 100px;
    line-height: 95px;

}
.personal .personal-bottom span:first-child::before,.personal .personal-bottom span:nth-child(2)::before{
    font-family: 'icomoon';
    content: '\e948';
    font-size: 45px;
}
.personal .personal-bottom span:last-child{
    float: right;
    font-size: 45px;
    cursor: pointer;
}

/* <!-- 商用产品及方案下拉菜单 --> */
.commercial{
    position: relative;
    z-index: 100;
}
.business{
    position: absolute;
	width: 1263.3px;
    top: 79px;
    left: -455px;
    background: #fff;
    height: 0;
    overflow: hidden;
    padding: 0 89px;
    transition: all .7s;
    box-sizing: border-box;
}
/* .commercial:hover>.business{
    height: 600px;
} */
/* .business .list{
    padding-left: 8%;
    padding-top: 30px;
    padding-bottom: 40px;
} */
.business .list{
    width: 93%;
    height: 100%;
    margin: 0 auto;
}
.business .list ul{
    float: left;
    margin-top: 30px;
    margin-right: 77px;
    /* border-bottom:1px solid #A19D97; */
}
.business .list .list-first>ul{
    margin-top: 0;
}
.business .list ul li{
    line-height: normal;
}
.business .list .title{
    font-size: 20px;
    color: #333;
    border-bottom: 1px solid #ccc;
    margin-bottom: 35px;
}
/* .business .fw a,.business .hy a{
} */
.business li a{
    margin-top: 30px;
    font-size: 14px;
    color: #333333;
    opacity: 0.8;
    float: none;
}
.business .list .notitle a{
    margin-top: 0;
}
.business .list  a:hover{
    opacity: 1;
    text-decoration: underline;
}
.business .kun li:nth-child(1) a{
margin-top: 49px;
}
.business .list .sec-title{
    font-size: 16px;
    font-weight: 700;
}
.hyicon{
    font-family: 'icomoon';
    font-style: normal;
    position: relative;
    left: 58px;
    top: -17px;
    transition: left .2s;
    text-decoration: none;
    color: #c7000b;
}

.business .list .special:hover>.hyicon{
    left: 63px;
    /* text-decoration: none; */
}

.bu-end{
    position: absolute;
    /* left: 82px; */
    top: 483px;
    width: 1030px;
    height: 118px;
    background-color: #f7f7f7;
    margin: 0 auto;
    
}
.bu-end div{
    float: left;
    position: relative;
}
 .bu-end div a{
    margin-left: 75px;
    /* margin-top: 30px; */
    line-height: 118px;
}
.iconfont{
    font-family: 'icomoon';
    font-style: normal;
    position: absolute;
    top: 17px;
    left: 37px;
    font-size: 30px;
}
#closebus{
    float: right;
    margin-right: 83px;
    font-size: 35px;
    line-height: 108px;
    cursor: pointer;
}

/* 服务下拉菜单 */
.service{
    position: relative;
    z-index: 100;
}
.serve{
    /* padding-right: 30px; */
    position: absolute;
    top: 79px;
    left: -591px;
    width: 1263.3px;
    background-color: #fff;
    height: 0;
    /* height: 450px; */
    overflow: hidden;
    transition: all .5s;
}
.serve ul{
    width: 25%;
    float: left;
    line-height: normal;
    padding-right: 35px;
    padding-left: 40px;
    margin-top: 50px;
    box-sizing: border-box;
}
.serve ul li:first-child{
    font-size: 1.25em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.serve ul li{
    margin-bottom: 18px;
}
.serve ul li a{
    float: none;
    font-size: 1em;
    opacity: .8;
}
.serve ul li a:hover{
    text-decoration: underline;
    opacity: 1;
}
.special{
    position: relative;
    width: 80px;
    height: 24px;
}

.fas{
    position: absolute;
    font-family: 'icomoon';
    font-style: normal;
    top: 1px;
    left: 50px;
    font-size: 1.3em;
    transition: left .2s;
    cursor: pointer;
}
.special:hover>.fas{
    left: 55px;
    color: #c7000b;
}
/* #close-ser{
    width: 20px;
    height: 20px;
    position: absolute;
    right:103px;
    bottom: 15px;
    line-height: normal;
    font-size: 1.8em;
    cursor: pointer;
} */
#close-ser{
    margin-left: 88%;
    font-size: 2.8em;
    color: #000000;
    cursor: pointer;
    line-height: normal;
}

/* -----------合作伙伴----------- */
.cooperation{
    position: relative;
    z-index: 100;
}
.toghter{
    position: absolute;
    top: 79px;
    left: -683px;
    width: 1263.3px;
    background-color: #fff;
    height: 0;
    /* height: 500px; */
    overflow: hidden;
    transition: all .5s;
}
.toghter ul{
    width: 25%;
    float: left;
    line-height: normal;
    padding-right: 35px;
    padding-left: 50px;
    margin-top: 50px;
    box-sizing: border-box;
}
.toghter ul li:first-child{
    font-size: 1.25em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.toghter ul li{
    margin-bottom: 18px;
}
.toghter ul li a{
    float: none;
    font-size: 1em;
    opacity: .8;
}
.toghter ul li a:hover{
    text-decoration: underline;
    opacity: 1;
}
/* .special{
    position: relative;
    width: 80px;
    height: 24px;
} */

/* .fas{
    position: absolute;
    font-family: 'icomoon';
    font-style: normal;
    top: 1px;
    left: 50px;
    font-size: 1.3em;
    transition: left .2s;
    cursor: pointer;
} */
/* .special:hover>.fas{
    left: 55px;
    color: #c7000b;
} */
/* #close-ser{
    width: 20px;
    height: 20px;
    position: absolute;
    right:103px;
    bottom: 15px;
    line-height: normal;
    font-size: 1.8em;
    cursor: pointer;
} */
.toghter #close-part{
    width: 50px;
    height: 50px;
    margin-left: 91%;
    margin-bottom: 10px;
    line-height: normal;
    font-size: 2.8em;
    color: #000000;
    cursor: pointer;
}

/* ---------关于华为--------- */

.about{
    position: relative;
    z-index: 100;
}
.about-hw{
    position: absolute;
    width: 1263.3px;
    /* height: 450px; */
    height: 0;   
    left: -800px;
    margin-left: -50%;
    top: 78px;
    background-color: #fff;
    overflow: hidden;
    transition: all .8s;
    padding-left: 50px;
    box-sizing: border-box;

}

.about-hw ul{
    float: left;
    line-height: normal;
    margin-top: 50px;
    /* margin-left: 50px; */
}
.about-hw ul li{
    margin-right: 50px;
    font-size: 1.1em;
    opacity: .8;
    /* margin-top: 15px; */
}
.about-hw ul li a{
    float: none;
    margin-bottom: 15px;
    /* color: #000000; */
    color: #333333;
    opacity: .8;
}
.about-hw ul li a:hover{
    text-decoration: underline;
    color: #000000;
    opacity: 1;
}
.about-hw .scale{
    margin-right: 43px;
}
.about-hw .scale>li:nth-child(1){
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #000000;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.about-hw .scale ul{
    margin-top: 0;
    margin-right: 30px;
    
}
.about-hw .scale ul:nth-child(2){
    margin-right: 0;
}
.about img{
    width: 335px;
    margin-top: 50px;
    
}

#close-about{
    width: 50px;
    height: 50px;
    margin-top: 70px;
    margin-left: 91%;
    line-height: normal;
    font-size: 40px;
    color: #000000;
    cursor: pointer;
}

/* 在线购买菜单 */

#buy{
    position: relative;
    z-index: 100;
}
#buy ul{
    display: none;
    position: absolute;
    width: 100px;
    top: 76px;
    left: -33px;
    /* margin-left: 50%; */
}
#buy:hover>ul{
    display: block;
}
#buy ul li{
    position: relative;
    line-height: 42px;
    width: 168px;
    height: 42px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    
    /* text-align: center; */
}
#buy ul li a{
    position: absolute;
    float: none;
    left: 34px;
    color: #777;
    font-size: 1em;
    /* text-align: center; */
}
#buy ul li a:hover{
    color: #000;
}
#buy ul li a::before{
    font-family: 'icomoon';
    content: '\e93a';
    /* margin-left: 20px; */
    /* left: 10px; */
    position: absolute;
    left: -20px;
    font-size: 1.1em;
}

/* 搜索框 */
.search{
    float: right;
    position: relative;
    /* width: 0; */
    /* transition: width .2s; */
    
    /* transition: opacity .5s; */
    /* display: none; */
}
/* .nav:hover>.search{
    display: block;
} */
.search input{
    width: 430px;
    height: 48px;
    padding-left: 20px;
    padding-right: 50px;
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
    outline: none;
    /* 取消聚焦 */
}
.search input:focus{
    box-shadow: 0px 3px 8px #d4d4d4;
}
.search .searchA{
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    font-size: 40px;
    margin-left: 20px;
    line-height: 20px;
    margin-top: 25px;
}
.search .searchIcon{
    font-family: 'icomoon';
    position: absolute;
    top: 5px;
    right: 58px;
    font-size: 20px;
}

.search .hot{
    z-index: 100;
    display: none;
    position: absolute;
    top: 80px;
    width: 430px;
    height: 386px;
    line-height: normal;
    border-top: 1px solid #d4d4d4;
    background-color: #f8f8f8;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-sizing: border-box;
    /* margin-top: 17px; */
    padding-top: 35px;
    padding-bottom: 30px;
    /* padding-left: 30px; */
}
.search .hot span{
    color: #999;
    font-style: 14px;
    display: block;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 30px;
}
.search .hot a{
    float: none;
    display: block;
    height: 36px;
    width: 430px;
    font-size: 18px;
    color: #333333;
    /* padding-left: 30px; */
    padding: 0 30px;
    box-sizing: border-box;
}
.search .hot a:hover{
    background: #999;
}

/* ---------轮播图------------ */
.Rotation{
    width: 1263.3px;
    position: relative;
    height: 425px;
    overflow: hidden;
    margin: 0 auto;
}
.Rotation .firstR{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;  
}
.Rotation .firstR li{
    float: left;
    position: relative;
    height: 425.71px;
}
.Rotation .firstR li img{
    height: 425.71px;
}
.Rotation .firstR div{
    position: absolute;
    float: left;
    left: 16%;
    width: 170px;
    height: 40px;
    top: 300px;
    border: 1px solid #000000;
    cursor: pointer;
    background: rgba(239, 239, 239, 0.5);
    text-align: center;
    line-height: 40px;
}
.Rotation .firstR div:hover{
    background-color: red;
    color: #fff;
    border: none;
}
.prev,
.next {
    font-family: 'icomoon';
    font-style: normal;
    /* display: none; */
    position: absolute;
    display: block;
    top: 50%;
    /* background: rgba(0, 0, 0, .3); */
    /* color: #fff; */
    /* color: #000000; */
    width: 35px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    color: #777;
    
}
.prev:active,.next:active{
    color: #fff;
}
.prev:hover,.next:hover{
    background:rgba(0,0,0,0.2);
}
.prev {
    left: 0;
    margin-top: -15px;
    text-align: left;
}

.next {
    right: 0;
    margin-top: -15px;
    text-align: right;
    padding-right: 3px;
}
.promo-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 13px;
    /* background: rgba(255, 255, 255, .3); */
    border-radius: 7px;
}

.promo-nav li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}
.promo-nav .first {
    background-color: #ff5000;
}

.promo-nav li:hover{
    background: #ff5000;
    cursor: pointer;
}

/* 推荐信息 */
.recommend{
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;
}
.recommend .w{
    width: 1073.83px;
    margin: 0 auto;
}
.recommend-top{
    margin: 50px auto;
    text-align: center;
}
.recommend-top h1{
    color: #333333;
    font-size: 30px;
}
.recommend-top div{
    width: 40px;
    height: 2px;
    background: #DE0000;
    margin: 0 auto;
    margin-top: 5px;
}
/* 遮罩层 */
/* .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0,0,0,0.3);
    display: none;
}
.w-top:hover>.mask{
    display: block;
} */
/* 第一张图片 */
.recommend .w-top{
    display: inline-block;
    width: 690px;
    height: 333px;
    position: relative;
    overflow: hidden;
    margin-right: 25px;
}
.recommend .w-top img{
    width: 690px;
}
.w-top-font{
    position: absolute;
    top: 233px;
    transition: top .3s;
    
}

.scaleImg:hover>.w-top-font{
    top: 200px;
}
.w-top-font div{
    margin-bottom: 5px;
    margin-left: 25px;
}
.w-top-font .pro{
    color: #ffffff;
    font-size: 16px;
}
.w-top-font .name{
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
}
.w-top-font .describe{
    color: #fff;
    font-size: 14px;
    margin-bottom: 30px;
}
.w-top-font .more span{
    position: relative;
    color: #fff;
    font-size: 16px;
}
.more-font{
    font-family: 'icomoon';
    font-style: normal;
    position: absolute;
    left: 60px;
    top: 2px;
    transition: left .2s;
    text-decoration: none;
    /* color: #c7000b; */
}
.w-top-font .more span:hover>.more-font{
    left: 65px;
}

/* 第二个图片 */
.recommend .w-top-right{
    display: inline-block;
    width: 330px;
    height: 333px;
    position: relative;
    overflow: hidden;
}
.recommend .w-top-right img{
    width: 340px;
}
.w-right-font{
    position: absolute;
    top: 233px;
    transition: top .3s;
    
}
.scaleImg:hover>.w-right-font{
    top: 200px;
}
.w-right-font div{
    color: #fff;
    margin-bottom: 5px;
    margin-left: 25px;
}
.w-right-font.pro{
    color: #ffffff;
    font-size: 16px;
}
.w-right-font .name{
    color: #FCFCFC;
    font-size: 20px;
    font-weight: bolder;
}
.w-right-font .describe{
    color: #E8E8E8;
    font-size: 14px;
    margin-bottom: 30px;
}
.w-right-font .more span{
    position: relative;
    color: #ffffff;
    font-size: 16px;
}
.more-font{
    font-family: 'icomoon';
    font-style: normal;
    position: absolute;
    left: 60px;
    top: 2px;
    transition: left .2s;
    text-decoration: none;
    /* color: #c7000b; */
}
.w-right-font .more span:hover>.more-font{
    left: 65px;
}

/* 第二行第一个 */
.recommend .w-center{
    display: inline-block;
    width: 330px;
    height: 333px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}
.recommend .w-center img{
    width: 340px;
}
.w-center-font{
    position: absolute;
    top: 233px;
    transition: top .3s;
    
}
.scaleImg:hover>.w-center-font{
    top: 200px;
}
.w-center-font div{
    color: #fff;
    margin-bottom: 5px;
    margin-left: 25px;
}
.w-center-font.pro{
    color: #ffffff;
    font-size: 16px;
}
.w-center-font .name{
    color: #FCFCFC;
    font-size: 20px;
    font-weight: bolder;
}
.w-center-font .describe{
    color: #E8E8E8;
    font-size: 14px;
    margin-bottom: 30px;
}
.w-center-font .more span{
    position: relative;
    color: #ffffff;
    font-size: 16px;
}
.more-font{
    font-family: 'icomoon';
    font-style: normal;
    position: absolute;
    left: 60px;
    top: 2px;
    transition: left .2s;
    text-decoration: none;
    color: #c7000b;
    font-size: 20px;
}
.w-center-font .more span:hover>.more-font{
    left: 65px;
}

/* 第二行第二个 */
.recommend .w-center-right{
    display: inline-block;
    width: 690px;
    height: 333px;
    position: relative;
    overflow: hidden;
    margin-left: 25px;
    margin-top: 30px;

}
.recommend .w-center-right img{
    width: 690px;
}
.w-center-right-font{
    position: absolute;
    top: 233px;
    transition: top .3s;
    
}
.scaleImg:hover>.w-center-right-font{
    top: 200px;
}
.w-center-right-font div{
    margin-bottom: 5px;
    margin-left: 25px;
}
.w-center-right-font .pro{
    color: #ffffff;
    font-size: 16px;
}
.w-center-right-font .name{
    color: #FCFCFC;
    font-size: 20px;
    font-weight: bolder;
}
.w-center-right-font .describe{
    color: #E8E8E8;
    font-size: 14px;
    margin-bottom: 30px;
}
.w-center-right-font .more span{
    position: relative;
    color: #ffffff;
    font-size: 16px;
}
.more-font{
    font-family: 'icomoon';
    font-style: normal;
    position: absolute;
    left: 60px;
    top: 2px;
    transition: left .2s;
    text-decoration: none;
    /* color: #c7000b; */
}
.w-center-right-font .more span:hover>.more-font{
    left: 65px;
}

/* 第三行第一个 */
.recommend .w-bottom{
    display: inline-block;
    width: 330px;
    height: 233px;
    position: relative;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 30px;

}
.recommend .w-bottom img{
    width: 330px;
}
.w-bottom-font{
    position: absolute;
    top: 148px;
    transition: top .3s;
    
}
.scaleImg:hover>.w-bottom-font{
    top: 99px;
}
.w-bottom-font div{
    margin-bottom: 5px;
    margin-left: 25px;
}
.w-bottom-font .pro{
    color: #ffffff;
    font-size: 16px;
}
.w-bottom-font .name{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}
.w-bottom-font .describe{
    color: #fff;
    font-size: 14px;
    margin-bottom: 30px;
}
.w-bottom-font .more span{
    position: relative;
    color: #ffffff;
    font-size: 16px;
}
.more-font{
    font-family: 'icomoon';
    font-style: normal;
    position: absolute;
    left: 60px;
    top: 2px;
    transition: left .2s;
    text-decoration: none;
    /* color: #c7000b; */
}
.w-bottom-font .more span:hover>.more-font{
    left: 65px;
}

.recommend .w-bottom-first{
    margin-right: 0;
}

/* 图片部分 */
.news-image{
    width: 1263px;
    height: 425px;
    margin: 0 auto;
    margin-top: 70px;
    position: relative;
}
.news-image img{
    width: 1263px;
}

.news-image div{
    position: absolute;
    top: 210px;
    left: 170px;
}
.news-image div a{
    display: inline-block;
    width: 170px;
    height: 40px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.news-image div a:hover{
    background-color: red;
}

/* <!-- 新闻与活动模块 --> */
.news .w{
    width: 1082px;
    margin: 0 auto;
    padding-right: 20px;
}
.news .news-box{
    /* position: relative; */
    width: 332px;
    height: 432px;
    overflow: hidden;
    /* background: #f8f8f8; */
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}
.news .news-box:hover>.news-font{
    background-color: #f2f2f2;

}
.news .news-box .hd{
    display: block;
    width: 92px;
    height: 32px;
    background: url('../images/type2.png');
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /* float: left; */
    text-align: center;
    line-height: 32px;
    color: #fff;
}
.news-img{
    position: relative;
    width: 100%;
    height: 206px;
    overflow: hidden;
    
}
.news .news-box img{
    width: 100%;
}

.news-font{
    padding: 25px 28px 36px 28px;
    cursor: pointer;
    background-color: #f8f8f8;

}
.news-font h4{
    list-style: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.625em;
    margin-bottom: 10px;
}
.news-font .dz::before{
    font-family: 'icomoon';
    content: '\e948';
    font-weight: bold;
    margin-right: 6px;
    color:#333333;
    font-size: 16px;
}
.news-font .dz{
    font-size: 14px;
    color: #333333;
    margin-bottom: 3px;
}
.news-font p{
    color: #666666;
    font-size: 14px;
}

.news3{
    position: relative;
    float: right;
    background-color: #f8f8f8;
    width: 332px;
    height: 432px;
    overflow: auto;
}
.news3 .tip3 {
    width: 65px;
    height: 32px;
    background: url(../images/type2.png);
    text-align: center;
    line-height: 32px;
}
.news3 .tip3 span{
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    color: #fff;
}
.news3 ul,.news3 li,.news3,.news3 p,.news3 a{
    display: inline-block;
    /* text-align: center; */
}

.news3 ul{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.6;
}
.news3 ul a p{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

.news3 ul a span{
    color: #666666;
    font-size: 14px;
}
.news3 ul li{
    margin-bottom: 30px;
}
.news3 ul li a:hover>P,.news3 ul li a:hover>span{
    color: #F70000;
}
.news3 .fog{
    width: 100%;
    height: 60px;
    /* height: 0; */
    position: absolute;
    bottom: 0;
    background: rgba(248, 248, 248, 0.9);
    box-shadow: 0 20px 20px 30px rgba(248, 248, 248, 0.9);
}

.news3::-webkit-scrollbar{
    width: 4px;
}
.news3::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.news3::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.button{
    width: 375px;
    height: 40px;
    margin: 50px auto;
    
}
.button a{
    display: inline-block;
    width: 170px;
    height: 40px;
    border: 1px solid #333;
    text-align: center;
    line-height: 40px;
    
}

.button a:first-child{
    margin-right: 15px;
}
.button a:hover{
    color: #fff;
    background-color: #c7000b;
    border-color: #c7000b;
}

/* 底部 */
.footer{
    width: 100%;
    background: #f2f2f2;
}
.footer .w{
    width: 1082px;
    margin: 0 auto;
}
.footer .footer-top{
    height: 80px;
    padding: 20px 0;
    /* padding-top: 39px; */
    border-bottom: 1px solid #E2E2E2;
    /* line-height: 80px; */
}
.footer .footer-top span{
    color: #595757;
    font-size: 16px;
}
.footer .footer-top span:nth-child(1){
    display: inline-block;
    margin-top: 19px;
}
.footer .footer-top .footer-icon{
    font-family: 'icomoon';
    float: right;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
}

/* 搜索框 */
.fang{
    width: 500px;
    float: right;
    position: relative;
    display: none;
}
.footer-top .fang .sy{
    position: absolute;
    font-size: 31px;
    /* margin-left: 20px; */
    /* top: 0; */
    right: 0;
    cursor: pointer;
}
.fang input{
    /* margin-right: 20px; */
    position: absolute;
    top: 0;
    right: 30px;
    width: 100%;
    height: 48px;
    outline: none;
    padding-left: 20px;
}

.fang input::after{
    font-family: 'icomoon';
    content: '\e986';
    position: absolute;
    z-index: 101;
}

.footer-hot{
    display: none;
    z-index: 100;
    position: absolute;
    top: 62px;
    width: 430px;
    height: 386px;
    line-height: normal;
    border-top: 1px solid #d4d4d4;
    background-color: #f8f8f8;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-sizing: border-box;
    /* margin-top: 17px; */
    padding-top: 20px;
    padding-bottom: 30px;
    /* padding-left: 30px; */
    /* cursor: pointer; */
}
.fang .footer-hot span{
    color: #999;
    font-style: 14px;
    display: block;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 30px;
}
.fang .footer-hot a{
    float: none;
    display: block;
    height: 36px;
    width: 430px;
    font-size: 18px;
    color: #333333;
    /* padding-left: 30px; */
    padding: 0 30px;
    box-sizing: border-box;
}
.fang .footer-hot a:hover{
    background: #999;
}
.fang input:focus{
    box-shadow: 0px 3px 8px #d4d4d4;
}
.fang input:focus+.footer-hot{
    display: block;
}

.fang .footerSou{
    font-family: 'icomoon';
    position: absolute;
    top: 13px;
    right: 50px;
    font-size: 20px;
}

/* 页脚第二层 */
.footer-center{
    width: 100%;
    height: 340px;
    padding-top: 48px;
    border-bottom: 1px solid #e2e2e2;
}
.footer-center ul{
    width: 20%;
    float: left;
}
.footer-center ul li{
    margin-bottom: 15px;
    color: #595757;
    font-size: 13px;
    opacity: .8;
}
.footer-center ul li:first-child{
    color: #333333;
    font-size: 15px;
    margin-bottom: 18px;
    font-weight: bold;
    opacity: 1;
}

.footerAA{
    position: relative;
}
.footerAAicon{
    /* display: inline-block; */
    font-family: 'icomoon';
    position: absolute;
    top: 2px;
    left: 52px;
    font-size: 17px;
    /* width: 30px;
    height: 30px; */
    transition: left .2s;
}
.footerAA a:hover+.footerAAicon,.footerAAicon:hover{
    left: 57px;
}

/* 页脚第三页 */
.footer-center2{
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
}
.footer-center2 ul li{
    float: left;
    margin-right: 20px;
    color: #5a5858;
    font-size: 13px;
}
.footer-imgs{
    float: right;
    padding-top: 9px;
    height: 100px;

}
.footer-imgs a {
    margin-left: 15px;
}
.footer-imgs .wb{
    background: url('../images/wb.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.footer-imgs .wx{
    background: url('../images/wx.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.footer-imgs .wb:hover{
    background: url('../images/wb@2x.png');
    background-size: 30px 30px;

}
.footer-imgs .wx:hover{
    background: url('../images/wx@2x.png');
    background-size: 30px 30px;

}

/* 页脚 */
.footer-bottom{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #e6e6e6;
    /* text-align: center; */
}
.footer-bottom ul{
    margin: 0 auto;
    height: 100%;
    width: 1153px;
    padding-left: 138px;
}
.footer-bottom ul li{
    float: left;
    margin-right: 20px;

}

/* 返回顶部 */
.back{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 67px;
    right: 0;
    cursor: pointer;
}
.back img{
    width: 40px;
    height: 40px;
}
.backicon{
    font-family: 'icomoon';
    display: block;
    position: fixed;
    bottom: 24px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 44px;
    color: #fff;
    line-height: 57px;
    /* text-align: center; */
    background-color: #7c7c7c;
    background: rgba(0,0,0,0.3);
    transition: opacity .3s;
    opacity: 0;
}
.backicon:hover{
    background-color: #888888;
}
.backicon:active{
    color: #111111;
}